#
# .gitignore
# =============================================================================
# Urban bus routing microservice prototype (Clojure port). Version 0.15.2
# =============================================================================
# A daemon written in Clojure, designed and intended to be run
# as a microservice, implementing a simple urban bus routing prototype.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# === Leiningen intermediates =================================================
.lein-*

# === JVM classes =============================================================
*.class
target/

# === Log files ===============================================================
log/

# vim:set nu et ts=4 sw=4:
